apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hello-static.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "hello-static.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "hello-static.fullname" . }}
      annotations:
        checksum/html: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html

      volumes:
        - name: html
          configMap:
            name: {{ include "hello-static.fullname" . }}-html
